[submodule "hidex"]
	path = hidex
	url = https://github.com/onehundredfeet/hidex.git
[submodule "heaps-yojimbo"]
	path = heaps-yojimbo
	url = https://github.com/onehundredfeet/heaps-yojimbo.git
[submodule "hl-idl"]
	path = hl-idl
	url = https://github.com/onehundredfeet/hl-idl.git
[submodule "hl-yojimbo"]
	path = hl-yojimbo
	url = https://github.com/onehundredfeet/hl-yojimbo.git
[submodule "hxbit"]
	path = hxbit
	url = https://github.com/onehundredfeet/hxbit.git
[submodule "heaps"]
	path = heaps
	url = https://github.com/onehundredfeet/heaps.git
[submodule "castledbx"]
	path = castledbx
	url = https://github.com/onehundredfeet/castledbx.git
[submodule "hl-chipmunk2d"]
	path = hl-chipmunk2d
	url = https://github.com/onehundredfeet/hl-chipmunk2d.git
[submodule "hl-recast"]
	path = hl-recast
	url = https://github.com/onehundredfeet/hl-recast.git
[submodule "hl-bullet"]
	path = hl-bullet
	url = https://github.com/onehundredfeet/hl-bullet.git
[submodule "format"]
	path = format
	url = https://github.com/HaxeFoundation/format.git
[submodule "hscript"]
	path = hscript
	url = https://github.com/HaxeFoundation/hscript.git
[submodule "domkit"]
	path = domkit
	url = https://github.com/HeapsIO/domkit.git
[submodule "hvector"]
	path = hvector
	url = https://github.com/onehundredfeet/hvector.git
[submodule "hlsteam"]
	path = hlsteam
	url = https://github.com/HeapsIO/hlsteam.git
[submodule "differx"]
	path = differx
	url = https://github.com/onehundredfeet/differx.git
[submodule "hmecs"]
	path = hmecs
	url = https://github.com/onehundredfeet/hmecs.git
